*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
body{
  background-color: darkgrey;
}
h1{
  color: white;
}
img{
  width: 100%;
  object-fit: cover;
}

.info_container{
  padding: 1rem;
  display: flex;
}
.text_box{
  max-width: 50%;
  margin-left: 1rem;
  order: 2;
}
.img_box{
  width: 200px;
  order: 1;
}